.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.nav {
  margin: 2rem 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  margin: 0 1rem;
  gap: 5rem;
}

.nav li {
  display: inline;
  background-color: #333333;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #AC6218;
}

.active a {
  color: #AC6218;
}

.headerBorder {
  width: 100%;
  border: solid #333333;
  padding: 10px;
}

.headerBox {
  background-color: #333333;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  .nav li {
    background-color: #f0f0f0;
  }

  .headerBorder {
    border-color: #f0f0f0;
  }

  .headerBox {
    background-color: #f0f0f0;
  }

  .nav a:hover,
  .active a {
    color: #AC6218;
  }
}